@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
}
.item-left {
  background: #6379f4;
  width: 100%;
  height: 100%;
  left: auto;
}

.title-left {
  color: white;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 40px;
  padding: 50px;
}
.image-left {
  position: relative;
  width: 100%;
}

.login-about {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  padding-left: 50px;
}

.login-detail {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 50px;
}

.login-right-detail {
  margin-top: 20px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
}

.content-right {
  padding-top: 100px;
  padding-right: 20px;
}

.button-submit {
  width: 100%;
  background: #dadada;
  border-color: #dadada;
}

/* Navbar Css */
nav {
  background-color: white !important;
}
.navbar-brand {
  color: #6379f4 !important;
  padding-left: 50px !important;
}

.navbar-right {
  padding-right: 50px;
}

.nav-profile-name {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
}

.nav-profile-number {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
}

.image-profile-navbar {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

/* Home */
.home-content {
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.content-balance {
  background-color: #6379f4;
  color: white;
  border-radius: 20px;
}
.balance-detail {
  padding-left: 50px;
}
.transfer {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.top-up {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.balance-button {
  padding-left: 150px;
}

.home-active {
  color: #6379f4;
}

.image-diagram {
  margin-top: 20px;
}

.get-all {
  padding-left: 100px;
}

/* History */

.history-right {
  padding-left: 20px;
  padding-top: 5px;
}

.amount-history-accept {
  color: #2ecc71;
  padding-left: 100px;
  padding-top: 15px;
}

.amount-history-transfer {
  color: #ff5b37;
  padding-left: 100px;
  padding-top: 15px;
}

/* Profile */
.profile-button {
  margin-bottom: 10px;
  width: 100%;
}
.image-profile {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

/* personal */
.profile-personal {
  padding: 10px;
}
